{% extends 'mailingApp/base.html' %}
{% load my_tags %}
{% block content %}
<tr>
    <h1>Профиль</h1>
</tr>

<div class="image-container">


    <img src="{{ object.photo|mymedia }}" width="200" height="200">
</div>

<div class="col-lg-9 col-md-6 col-sm-12">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <table class="table table-striped">

                <tr>
                    <td class="w-25">Имя</td>
                    <td>{{ object.first_name }}</td>
                </tr>

                <tr>
                    <td class="w-25">Фамилия</td>
                    <td>{{ object.last_name }}</td>

                </tr>

                <tr>
                    <td class="w-25">Почта</td>
                    <td>{{object.email}}</td>
                </tr>

                <tr>
                    <td class="w-25">Подтверждение</td>
                    {% if object.is_confirm %}
                    <td>Да</td>
                    {% else %}
                    <td>Нет</td>
                    {% endif %}
                </tr>

                <tr>
                    <td class="w-25">Права менеджера</td>
                    {% if object.is_staff%}
                    <td>Да</td>
                    {% else %}
                    <td>Нет</td>
                    {% endif %}
                </tr>

                <tr>
                    <td class="w-25">Права администратора</td>
                    {% if object.is_superuser%}
                    <td>Да</td>
                    {% else %}
                    <td>Нет</td>
                    {% endif %}
                </tr>


            </table>
            {% if perms.usersApp.view_user %}
            <a href="{% url 'usersApp:list'%}"
               class="btn btn-lg btn-block btn-outline-primary">Назад</a>
            {% endif %}
            {% if user == object %}
            <a href="{% url 'usersApp:update' object.pk %}" class="btn btn-lg btn-block btn-outline-primary">Редактировать</a>
            {% endif %}

            {% if perms.usersApp.delete_user %}
            <a href="{% url 'usersApp:delete' object.pk %}" class="btn btn-lg btn-block btn-outline-primary">Удалить</a>
            {% endif %}


        </div>
        {% if perms.usersApp.set_active %}
        <form method="post" action="{% url 'usersApp:block_user' object.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">
                {% if object.is_active %}
                Заблокировать
                {% else %}
                Разблокировать
                {% endif %}
            </button>
        </form>
        {% endif %}

        {% if user.is_confirm is not True and user == object %}
        <form method="post" action="{% url 'usersApp:send_code' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Авторизоваться</button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}