{% extends 'mailingApp/base.html' %}
{% block content %}
<tr>
    <h1>Персональные данные</h1>
</tr>
<div class="col-lg-9 col-md-6 col-sm-12">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <table class="table table-striped">
                <tr>
                    <td class="w-25">Имя</td>
                    <td>{{ object.first_name }}</td>
                </tr>
                <tr>
                    <td class="w-25">Фамилия</td>
                    <td>{{ object.last_name }}</td>
                </tr>
                <tr>
                    <td class="w-25">email</td>
                    <td>{{ object.email }}</td>
                </tr>

                <tr>
                    <td class="w-25">Описание</td>
                    {% if object.description %}
                    <td>{{ object.description }}</td>
                    {% else %}
                    <td>Нет описания</td>
                    {% endif %}

                </tr>

                <tr>
                    <td class="w-25">рассылка</td>
                    <td></td>
                </tr>

            </table>
            <a href="{% url 'mailingApp:client_update' object.pk %}" class="btn btn-lg btn-block btn-outline-primary">Редактировать</a>
            <a href="{% url 'mailingApp:client_delete' object.pk %}" class="btn btn-lg btn-block btn-outline-primary">удалить</a>
        </div>
    </div>
</div>
{% endblock %}